= form_for @material, :html => {:class => 'form-horizontal'} do |f|
  .control-group
    = f.label :file, :class => 'control-label'
    .controls
      = f.file_field :file, :class => 'text_field'
  .control-group
    = f.hidden_field :user_id, :value => current_user.id
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'