.well.content
  .row
    .span2
      %h4
        ID: #{material.id}
        File:
      - if material.file_content_type == 'image/jpeg' || material.file_content_type == 'image/jpg' || material.file_content_type == 'image/png'
        = image_tag "#{material.file.url}"
        = link_to 'Download', "#{material.file.url}"
      - else
        = link_to "#{material.file_file_name}", "#{material.file.url}"